<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398821848013-0dcts75uaumg136d6ts4tfbioh9p5gpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398821848013-0dcts75uaumg136d6ts4tfbioh9p5gpv</string>
	<key>API_KEY</key>
	<string>AIzaSyD9FnmYJSJD_HxFjPVSaXVITlNHc7vpkXc</string>
	<key>GCM_SENDER_ID</key>
	<string>398821848013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalyearproject</string>
	<key>PROJECT_ID</key>
	<string>pharmatech-d7beb</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmatech-d7beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398821848013:ios:968dd48cccd841e17c4a84</string>
</dict>
</plist>